<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">PeliculasAPP</h1>
        <p class="lead">Esta es una aplicación de películas</p>
    </div>
</div>

<div class="container">

    <app-galeria [peliculas]="peliculasActuales | slice:0:6" titulo="Peliculas en Cartelera"></app-galeria>
    <app-galeria [peliculas]="peliculasPopulares | slice:0:6" titulo="Peliculas Populares"></app-galeria>
    <app-galeria [peliculas]="peliculasNinos | slice:0:6" titulo="Peliculas para niños"></app-galeria>

</div>